@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(9, 140, 255);
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius:50%;
    width:160px;
    height:160px;
    border:10px solid #ffffff; 

}